article {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: sans-serif;
  margin: 2em;
}
.logo
{
	width: 120px;
	height: 120px;
}
h1 {
 
  width: 800px;
}

img {
  max-width: 100%;
}


.social a
{
 color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}
.social span 
{
	margin: 0 20px 0 -10px;
}
.social
{
	margin: 2px;
}
